# In TypeScript actions, `dist/` is a special directory. When you reference
# an action with the `uses:` property, `dist/index.js` is the code that will be
# run. For this project, the `dist/index.js` file is transpiled from other
# source files. This workflow ensures the `dist/` directory contains the
# expected transpiled code.
#
# If this workflow is run from a feature branch, it will act as an additional CI
# check and fail if the checked-in `dist/` directory does not match what is
# expected from the build.
name: Check Transpiled JavaScript

on:
  pull_request_target:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: read

env:
  IS_DEPENDABOT:
    ${{ github.event.pull_request && github.actor == 'dependabot[bot]' && 'true'
    || 'false' }}

jobs:
  check-dist:
    name: Check dist/
    runs-on: ubuntu-latest

    outputs:
      commit_diff: ${{ steps.diff.outputs.commit_diff }}

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Setup Node.js
        id: setup-node
        uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: npm

      - name: Install Dependencies
        id: install
        run: npm ci

      - name: Build dist/ Directory
        id: build
        run: npm run bundle

      # Check if there are differences
      - name: Check for differences
        id: diff
        run: |
          diff_lines="$(git diff --ignore-space-at-eol --text dist/ | wc -l)"
          echo "diff_lines=$diff_lines" | tee -a $GITHUB_OUTPUT
          if [ "$diff_lines" -gt "0" ]; then
            echo "has_diff=true" | tee -a $GITHUB_OUTPUT
            if [ "$IS_DEPENDABOT" = "true" ]; then
              echo "commit_diff=true" | tee -a $GITHUB_OUTPUT
            else
              echo "fail_diff=true" | tee -a $GITHUB_OUTPUT
            fi
          fi

      # This will fail the workflow if the PR wasn't created by Dependabot.
      - name: Fail on differences
        if: steps.diff.outputs.fail_diff == 'true'
        id: fail-diff
        run: |
          echo "Detected uncommitted changes after build. See status below:"
          git diff --ignore-space-at-eol --text dist/
          exit 1

      # If `dist/` was different than expected, and this was not a Dependabot
      # PR, upload the expected version as a workflow artifact.
      - name: Upload on differences
        if: always() && steps.diff.outputs.has_diff == 'true'
        id: upload
        uses: actions/upload-artifact@v5
        with:
          name: dist
          path: dist/

      # If this is a Dependabot PR, just enable auto-merge
      - name: Create application token
        uses: actions/create-github-app-token@v2
        if: env.IS_DEPENDABOT == 'true'
        id: app-token
        with:
          app-id: ${{ secrets.OMNICLI_APP_ID }}
          private-key: ${{ secrets.OMNICLI_PRIVATE_KEY }}

      - name: Enable auto-merge
        if: env.IS_DEPENDABOT == 'true'
        env:
          HEAD_REF: ${{ github.event.pull_request.head.ref }}
          REPOSITORY: ${{ github.repository }}
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
        run: |
          NUM=$(gh pr view "$HEAD_REF" \
                  --repo "$REPOSITORY" \
                  --json number --jq '.number' || \
                echo "")

          if [[ -z "$NUM" ]]; then
            echo "Failed to get PR number"
            exit 1
          fi

          gh pr merge --squash --auto --body "" "$NUM"

  commit-dist:
    name: Commit dist/
    runs-on: ubuntu-latest

    needs: check-dist
    if: needs.check-dist.outputs.commit_diff == 'true'

    steps:
      - name: Create application token
        uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ secrets.OMNICLI_APP_ID }}
          private-key: ${{ secrets.OMNICLI_PRIVATE_KEY }}

      - name: Checkout commit
        uses: actions/checkout@v5
        with:
          token: ${{ steps.app-token.outputs.token }}
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Download dist/ artifact from check-dist job
        uses: actions/download-artifact@v6
        with:
          name: dist
          path: dist/

      - name: Craft commit message
        run: |
          echo "chore: update dist/ directory" | tee commit.txt

      - name: git commit
        env:
          HEAD_REF: ${{ github.event.pull_request.head.ref }}
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git switch --force-create "${HEAD_REF}"
          git add ./dist
          git commit --no-verify --file=commit.txt

      - name: git push
        env:
          HEAD_REF: ${{ github.event.pull_request.head.ref }}
        run: |
          git push --no-verify --force --set-upstream origin "${HEAD_REF}"

  fail-after-commit:
    name: Fail after commit
    runs-on: ubuntu-latest

    needs: commit-dist
    if: needs.commit-dist.result == 'success'

    steps:
      - name: Fail workflow
        run: |
          echo "The dist/ directory was updated. Changes need to pass the tests before merging."
          exit 1
